# Manipulation de dataframe

*Thomas VENDRAMINI*

In [9]:
import pandas as pd

# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/1757_Buchanan-J.csv"

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoBuch = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")
dfDicoBuch.sample(n=5)

       nbSyll            pron origin warning remarques POS  lineId  pageId
10081       2       phăʹntăſm     G.     NaN       NaN  n.    56.0     161
14822       5  ŭndĭſcĕʹrnable    NaN     NaN       NaN  a.    64.0     227
5921        2        grotĕʹſk     F.     NaN       NaN  a.     8.0     102
13506       4    ſympăthĕʹtic     G.     NaN       NaN  a.    35.0     209
10996       3     quăʹrtĕrage    NaN     NaN       NaN  n.    36.0     174

In [53]:
# préciser le chemin du fichier à lire
cheminDuFichierCSV2 = "./../data/dictionary/Buchanan_PronChar_counts.csv"

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfCountBuch = pd.read_csv(cheminDuFichierCSV2, delimiter=";", encoding="utf8")
dfCountBuch.fillna('', inplace =True)
dfCountBuch.sample(n=5)

   char   occ graph
23    v  1477     v
47    о    20     o
13    ā  2079     a
68    á     1     a
72    ï     1     i

In [79]:
# préciser le chemin du fichier à lire
cheminDuFichierCSV3 = "./../data/dataframe/BigiRichSample.csv"

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfBigRich = pd.read_csv(cheminDuFichierCSV3, delimiter=";", encoding="utf8")

dfBigRich.sample(n=5)

                   hwd                 pronSampa           ipa
96147     recreates(2)      r\ i: k r\ i: eI t s    ɹiːkɹiː?ts
32741          donohue             d A n @ h j u       dɑnəhju
89147            picht                   p I k t          pɪkt
99093             rick                    r\ I k           ɹɪk
110412  specialization  s p E S @ l @ z eI S @ n  spɛʃələz?ʃən

In [48]:
#Fonction pour créer la colonne motVedette
def creer_mot(strGraph, Mapping=dfCountBuch):
    list_of_char = []
    for char in strGraph:
        list_of_char.append(Mapping[Mapping['char']==char].iloc[0]['graph'])
    return ''.join(list_of_char)

In [86]:
#Ajout des colonnes et sauvegarde du dictionnaire
dfDicoBuch["motVedette"] = dfDicoBuch["pron"].apply(creer_mot)
dfDicoBuch_augmente = dfDicoBuch.merge(dfBigRich, left_on='motVedette', right_on='hwd')
dfDicoBuch_augmente.drop(["hwd"], axis=1)
pathDicoBuchanan = "./../data/dataframe/BuchananRich.csv"
dfDicoBuch_augmente.to_csv(pathDicoBuchanan, sep=";",encoding="utf8",index=False)

In [87]:
dfDicoBuch_augmente.sample(n=5)
dfDicoBuch_augmente

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette,hwd,pronSampa,ipa
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus,abacus,{ b @ k @ s,æbəkəs
1,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon,abandon,@ b { n d @ n,əbændən
2,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned,abandoned,@ b { n d @ n d,əbændənd
3,2,ăbăʹſh,F.,NaN,NaN,v.,9.0,19,abash,abash,@ b { S,əbæʃ
4,2,ăbāʹte,F.,NaN,NaN,v.,10.0,19,abate,abate,@ b eI t,əb?t
...,...,...,...,...,...,...,...,...,...,...,...,...
10328,2,zĕʹnith,NaN,NaN,NaN,n.,11.0,241,zenith,zenith,z i: n @ T,ziːnəθ
10329,1,zĕſt,NaN,NaN,NaN,n.,13.0,241,zest,zest,z E s t,zɛst
10330,1,zĭnk,NaN,NaN,NaN,n.,14.0,241,zink,zink,z I N k,zɪŋk
10331,3,zōʹdĭac,NaN,NaN,NaN,n.,16.0,241,zodiac,zodiac,z @U 4 i: { k,zoʊɾiːæk
10332,1,zōne,NaN,NaN,NaN,n.,18.0,241,zone,zone,z @U n,zoʊn